body{
max-width: 1500px;
margin: 0 auto;
background: linear-gradient(112.23deg, #3E718E 0%, #64969B 100%);
}

.main_content{
    margin: 110px auto;
    width: 80%;

}

.header{
    margin-top: 10px;
}
.header > {
    display: inline-block;
}

.button_nav{
    text-transform: capitalize;
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    
}
a{
    text-decoration: none;
}

input[type="password"] {
    font-family: Verdana;
    letter-spacing: 0.125em;
}

