body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    margin: 0;
}

.main content {
    min-width: 700px;
    max-width: 1000px;
}

.header {
    text-align: center;
    text-transform: uppercase;
    font-size: 48px;
}

.header-blue {
    color: #3E45E8;
}

.header-yellow {
    color: #E8C23E;
}

.h2 {
    text-transform: uppercase;
}

.background {
    width: 1440px;
    height: 766px;
    background-image: url(../images-hw3/фонове\ зображення.png);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 45px;
    text-align: left;
    line-height: 75px;
}

.background-img1 {
    width: 100%;
    height: 766px;
}

.img-flag1 {
    margin-left: 80px;
    margin-top: 240px;
    margin-bottom: 240px;
 }

.poem {
    padding: 185px;
    padding-left: 50px;
}

.header2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    text-align: left;
    margin: 40px 0px 5px 70px;
}

.img-flag2 {
    width: 12px;
    text-align:left;
}

.turist_cards {
    text-align: center;
    padding-top: 20px;
}

.turist_cards > div {
    width: 380px;
    height: 470px;
    margin: 15px;
    border: 6px solid #0D095F;
    border-radius: 9%;
    vertical-align: top; 
    display: inline-block;
}

.img_card {
    width: 381px;
    height: 300px;
}

.card1 {
    box-shadow: -15px 20px 30px 0px #00D1FF;
}

.card2 {
    box-shadow: 0px 20px 25px 0px #00D1FF;
}

.card3 {
    box-shadow: 15px 20px 30px 0px #00D1FF;
}

.place_names {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-align: left;
    padding-left: 7px;
    font-size: 25px;
    color:#0072DB;
    
}

.place_description {
    text-align: left;
    padding-left: 7px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #FF9900;
}

.header2-2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
    text-transform: uppercase;
    font-size: 40px;
    color: #000000;
    text-align: center;
    margin-bottom: 10px;
}

.blue_line {
   text-align: center;
}

.ukraine-img {
    text-align: center;
    margin-top: 20px;
}

.buttom {
    background-image: url(../images-hw3/Rectangle\ 6.png);
    background-repeat: no-repeat;
    display: flex;
    width: 500px;
    height: 80px;
    margin-left: 465px;
   
}

.buttom_text {
    width: 50%;
    text-align: center;
    font-size: 60px;
    color: #FFFFFF;
    padding-left: 120px;
    padding-top: 5px;
    text-decoration-line: none;
}

.footer_content {
    background-image: url(../images-hw3/Rectangle\ 7.png);
    width: 100%;
    height: 235px;
    margin-top: 25px;
   
}

footer {
    text-align: center;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.contacts {
    font-family: Marcellus SC;
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
}

.contacts > a {
    color: #A89D9D;
    letter-spacing: 0.1em;
}

.icons {
    padding-top: 10px;
}

.icons > a {
    padding-right: 15px;
}