body{
    max-width: 1500px;
    margin: 0;
}

.header{
    width: 100%;
    height: 700px;
    background: 
    url(../images/надпис.png) top 144px left 240px/ 70% 30% no-repeat,
    url(../images/фон.png) center/cover no-repeat;
}
.cards_menu{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    color: #000000;
    margin-left: 110px;
}

.cards{
    text-align: center;
}

.cards > div{
    width: 400px;
    height: 460px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background: #231B0C;
    margin: 10px;
}

.cards > div > img{
    padding-top: 120px;
}

.cards > div > a > img{
    padding-top: 30px;
}

.street_image{
    width: 88%;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

footer{
    width: 100%;
    height: 280px;
    background-color: #150F02;
}

.footer_nav_menu{
    padding-top: 30px;
    margin-left: 400px;  

 
}

.footer_nav_menu > div{
    display: inline-block;
    text-align: left;
    padding-right: 350px;
}

.contacts{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
}

.line{
    width: 320px;
    height: 10px;
    background-color: #FF6B00;
    margin: auto;
    margin-bottom: 30px;
}

.icons{
  text-align: center;
}

.icons > a{
    padding-right: 30px;
}

    